<div class="box">
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
              <img src="{{ post.image }}">
            </p>
        </figure>        
        <div class="media-content">
            <div class="content">
                <a class="title is-7" href="{{ site.baseurl }}{{ post.url }}">{{ post.title}}</a>
            </div>
            <!-- <div class="content is-small"><em>Published: {{ post.date | date: "%b %-d, %Y" }}</em></div> -->
        </div>
    </article>
</div>