---
layout: default
---

<div class="content has-text-black-bis"><p>Published: {{ page.date | date: "%b %-d, %Y" }} by {{ page.author }}</p></div>
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <p>Tags:</p>
    </div>
    <div class="level-item">
      <div class="tags">
        {% for tag in page.tags %}
          {% include tag.html tag=tag %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if page.toc %}
    {% assign contentsTitle = page.toc_title | default: 'Contents' %}
    {% include toc.html html=content class='menu-list' h_min=2 h_max=3 contents_title=contentsTitle %}
{% endif %}

<div class="content has-text-black-bis is-family-secondary has-text-weight-light">
    {{ content }}
</div>

{% unless site.hide_share_buttons %}
{% include share-buttons.html %}
{% endunless %}

<!-- {% if site.disqus.shortname %}
  {% include disqus.html %}
{% endif %} -->


{% include comment.html %}